<section class="no-padding" id="portfolio_1">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <br/>
            {{ with .Site.Params.portfolio_1.modal.headline }}
                <h2 class="section-heading head-color">{{ . }}</h2>
            {{ end }}
        </div>
        <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio_1/3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio_1/2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio_1/1.jpg" class="img-responsive" alt="">
                </div>
        </div>
    </div>
</section>
